/*google fonts*/

@import url("https://fonts.gooleapis.com/css?family=Montserrat:300,400,500,600,700");

html {
  font-size: 60%;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #fff;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
  color: #777;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #444;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
}

h1 {
  font-size: 26px;

  letter-spacing: 1px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0;
  /* line-height: 27px; */
  margin: 0;
}

.btn {
  font-size: 1.5rem;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(43, 42, 42);
}

.dropdown-item {
  font-size: 14px;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #dc3545;
}
.navbar {
  /* border-bottom: 1px solid #dc3545; */
  background-color: #fff;
  padding: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
li.nav-item {
  margin: 10px;
}

.navbar-brand {
  background-color: #dc3545;
  font-family: cursive;
  padding: 5px;
  border-radius: 10px;
}

.avatar {
  height: 35px;
  width: 35px;
  margin-right: 5px;
  border: 1px solid #dc3545;
  border-radius: 50%;
}

.m10 {
  margin: 10px;
}

.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
mt80 {
  margin-top: 80px;
}
.loading {
  position: fixed;
  /* background-color: rgba(220, 53, 69, 0.4); */
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
}
.loading img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
}
.loading-message {
  position: absolute;
  color: #1b1b1b;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.required {
  color: red;
}
/*form */
input[type="email"],
input[type="password"],
input[type="text"],
input[type="date"],
#location {
  height: 35px;
  font-size: 14px;
}

.banner {
  position: relative;
}

.banner img {
  width: 100%;
  height: 100vh;
}

.banner-message h1 {
  position: absolute;
  top: 250px;
  z-index: 99;
  font-size: 65px;
  background-color: #444;
  color: yellow;
  font-weight: bold;
  padding: 15px;
}

.overlay {
  background-color: rgba(220, 53, 69, 0.5);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.page {
  margin-top: 80px;
  min-height: 100vh;
}
.vh {
  min-height: 95vh;
}

.login {
  background-image: url(/assets/images/bg-login.jpg);
  background-position: center;
  background-size: cover;
}
.register {
  background-image: url(/assets/images/bg-register.jpg);
  background-position: center;
  background-size: cover;
  background-color: #1b1b1b;
}
.small p {
  font-size: 12px;
}
.card {
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin-top: 25px;
}

.playlist {
  background: #333;
}
.video-details h2 {
  color: #fff;
  margin-top: 15px;
}
.video-details h3,
h4 {
  margin-top: 5px;
  color: rgb(218, 210, 210);
}
.video-hover:hover {
  background: #444;
  cursor: pointer;
}
hr {
  border-color: #dc3545;
}
.footer {
  position: relative;
  text-align: center;
  background: #1b1b1b;
  color: #fff;
  padding: 12px;
}
